.button {
  border: none;
      display: inline-flex;
      outline-color: rgb(255, 251, 0);
      border-radius: 25px;
  background-color: rgb(255, 136, 57);
  outline-width: 3px;
  outline-style: solid;
  height: 80%;
  width: 80%;
  font-size: 35px;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-items: center;
 

}

 
  a {

text-decoration: none;
text-align: unset;
padding-left: 5px;
color: black;

  }

.odd {
  color: #ff480056;
  margin: 40px;
  text-align: center;
  font-size: 80px;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-text-stroke-color: rgba(255, 136, 0, 0.158);
  -webkit-text-stroke-width: 5px;
  text-shadow: 2px 2px 2px #ffdf2a;
  transition-duration: 1s;
  transition: opacity 1s 0.5s;
}




  
.roz:hover {
  border-radius: 7px;
  background: radial-gradient(ellipse at top, #e6ce64, transparent),
  radial-gradient(ellipse at bottom, #ffc400, transparent);
  outline: rgb(255, 0, 0) outset 7px;
  border-color: rgb(255, 0, 0);
  border-width: 3px;
  width: 300px;
  height: 500px;
  margin: 25px;
  margin-right: 150px;
  transition-duration: 0.7s;

  transform:rotate(35deg)
}

.button1 {
  border-radius: 7px;
  background-color: rgb(253, 255, 153);
  outline: darkred outset 7px;
  border-color: rgb(255, 0, 0);
  border-width: 3px;
  width: 300px;
  height: 50px;
  margin: 25px;
  margin-right: 15px;

  transition: 0.3s ease-out;

  animation: 3s linear anim;
  animation-play-state: paused;
  }

  

  .button2 {
  
  


background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  border-width: 3px;
  width: 300px;
  height: 50px;
  margin: 25px;
  margin-right: 15px;
  }

  .animtest {
  animation: 1s linear animt;
  }
  
  @-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

  
  
  .switcher1 {

    background: rgb(165, 255, 187);
 
    transition-duration: 0.7s;
    
  }

  .work {

    background: url("thingy.jpg") #99f repeat-y fixed;
  }
  .switcher2 {
background: rgb(165, 255, 187);
color:#00a2ff;
transition-duration: 0.7s;
  }


.divs {
  
background-image: linear-gradient( to bottom,  rgb(145, 0, 0), 50%, rgba(0, 0, 0, 0.397));
border-style: outset;
border-color:#ffe96a;
border-width: 1px;
height: 350px;
width: 600px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 30px;
font-weight: 300;
margin: auto;
margin-top: 80px;
margin-bottom: 100px;
animation: bgmovement 2s;
}

p{
margin: 0px;
margin-left: 7px;
font-size: 35px;
font-family: 'Fjalla One', sans-serif;

}

#object-position-1 {
object-position: -250px;
height: 200px;
width: 400px;
}

/*
 .bg {
  height: 250%;
  width: 150%;
  font-family: 'Roboto Condensed', sans-serif;
  background: rgb(107, 0, 0);
  color:#000000;
  background-image:  url(Map\ bg.jpg);
  background-size: 6000px;
  animation: bgmovement 420s infinite;
  position: fixed;
  margin: 0px;
  top: 0px;
  background-attachment: fixed;
  z-index: -5;
transition-duration: 1s;
transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06)(0.075, 0.82, 0.165, 1);

}
*/

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: rgb(107, 0, 0);
  color:#000000;
  transition-duration: 0.7s;
  margin: 0px;
}


@keyframes bgmovement {


0% {background-position: 0% 0%;
  animation-timing-function: linear;} 
85% {background-position: 1000% 0%;
}
100% {background-position: 0% 0%;
  }
  

}



.parallax {
  height: 2000px;
  width: 80%;
	margin: auto;
	background-attachment: unset;
  background-position: center;
	background-repeat: repeat;
	background-size: 200%;
  z-index: 3;
  position: relative;
  outline: 20px outset rgba(128, 126, 0, 0.363);
}

.UNUSEDflexstuff {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  width: 100vw;
  outline: 5px dashed rgb(0, 128, 0);
}


.parallaxbreak {

width: 100%;
height: 1500px;
margin-top: 20px;
margin-bottom: 20px;
}

.midsection1{

background-color: rgba(150, 59, 101, 0.781);
shape-outside: ellipse(130px 140px at 20% 20%);
box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.377) inset;
border-radius: 25px;
outline: 15px outset rgba(255, 253, 108, 0.308);


}

.midsection2{

background-color: rgba(59, 124, 150, 0.781);
shape-outside: ellipse(130px 140px at 20% 20%);
box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.377) inset;
border-radius: 25px;
outline: 15px outset rgba(255, 253, 108, 0.308);
width: 700px;
height: 1200px;

}

.midsection3{
	background-image: url("https://wallpaperaccess.com/full/1124086.jpg");

}

.midsection4{
	background-image: url("https://i.pinimg.com/originals/35/fd/82/35fd826fd7bb4cae8d2d62cba7b6f643.jpg");

}

.scroll {

position: relative;
height: 60%;
margin: auto;
display: block;
top: 5%;
}

.CUSTOMLEVELSTEXT {

  font-size: 60px;
  font-family: 'Fredoka One', cursive;
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  display: block;
  margin: 40px;
  margin-top: 60px;

}



.textlook {

color: rgba(121, 189, 104, 0.897);
}

.textlook2 {

  color: rgba(118, 192, 186, 0.952);
  }

.presser1 {

border-width: 0px;
display: inline-block;
height: 20px;
width: 100px;
margin-top: 50px;
margin-bottom: 75px;
background-color: black;
background-image: linear-gradient(170deg, rgb(0,0,0), rgba(255, 0, 0, 90%));
outline: rgb(255, 230, 0) inset 3px;
position: relative;
top: 0px;
border-radius: 1px;
outline-style: ridge;
margin: 15px;
margin-right: 0px;
margin-left: 30%;
transition-duration: 2s;

}



.images {

    opacity: 20%;


}



.featuredmod1 {
top: -190px;
position: relative;
pointer-events: none;
transition-duration: 0.7s;



}

  

.featured {
  margin-top: 100px;
  margin-bottom: 40px;
  -webkit-text-stroke: 55px;
  -webkit-text-stroke-color: rgba(255, 0, 0, 0.452);
-webkit-text-stroke-width: 2px;
color:#f6d43c;
font-size: 35px;
text-align: center;
font-family: 'Anton', sans-serif;
}

.typinganim {

    width: 22ch;
    animation: typing 2s steps(22), effect .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
from {
  width: 0;
}
}
  
@keyframes effect {
50% {
  border-color: transparent;
}
}


.altfeatured {
  font-size: 70px;
  margin-top: 0px;
  text-decoration: underline;

}

.divupper {

-webkit-text-stroke: 55px, red;
position: relative;
top: 20px;
height: auto;
margin: auto;
background-color: rgba(51, 11, 11, 0.884);  
background-repeat: no-repeat;
border: 7px solid rgb(158, 16, 16);
border-top: 10px solid #db1e1e;
scroll-behavior: smooth;
text-align: center;
width: max-content;
padding-left: 90px;
padding-right: 90px;


}






.mod1:hover {

height: 500px;
transition: opacity 1s, height 0.7s ease-out, width 1s ease-in-out;
background-position: top 0% left 0%;
background-size: 20px 20px;
background-image: url(mod1img.jpg);
background-size: 2000%;
background-position: top 0% left 0%;
width: 900px;
transition-delay: 0.2s;
}


@keyframes fadein{
  0% { opacity:1; }
  66% { opacity:1; }
  100% { opacity:0; }
}

@keyframes mod1m {
  0% {background-position: 40% 32.4%;
    animation-timing-function: linear;} 
  40% {background-position: 85% 32.4%;
    animation-timing-function: steps(1, end);} 
  40% {background-position: 60% 45%;
    animation-timing-function: linear;}
  65% {background-position: 85% 45%;
  animation-timing-function: steps(1, end);}
  65% {background-position: 5% 50%;
    animation-timing-function: ease-out;}
  100% {background-position: 95% 95%; 
    animation-timing-function: steps(1, end);}


  
}

.idk {

background-color: yellow;


}


@keyframes mod1o {
35% {opacity: 100%;}
  40% {opacity: 0%}
}

.mod1img:hover + .featuredmod1 {

top: -135%;
position: relative;
transition-delay: 0.2s;
}


.block {

background-color: red;

}


  


#anotherbtn{
  position:fixed;
  width:50px;
  height:50px;
  border-radius:50%;
  background:radial-gradient(at 30% 30%,#0000,#000a) red;
  left:10px;
  top:200px;
  animation:
    x 2s ease-in-out alternate infinite,
    y 2s ease-in-out alternate infinite;
}


@keyframes x {
   to {
     left:200px;
   }
}
@keyframes y {
   to {
     top:100px;
   }
}






.mod1img:hover {

 
  height: 500px;
  background-position: top 0% left 0%;
  background-image: url(mod1img.jpg);
  background-size: 500%;
  background-position: top 0% left 0%;
  width: 900px;
  animation: mod1m 30s infinite;
  animation-delay: 1s;
  transition: opacity 1s, height 0.5s ease-out, width 0.7s ease-in-out, background-size 2.5s ease-in-out;
  transition-delay: 0.2s;

}

.mod1img{

  background-image: url(mod1img.jpg);
  background-size: 2000%;
  background-position: top 0% left 0%;
  width: 300px;
  height: 200px;
  border: 6px solid black;
  transition: opacity 1s, height 0.5s ease-out, width 0.7s ease-in-out, background-size 0.7s;
  position: relative;
  top: -53px;
  right: 3px;
  animation: mod1m 30s infinite;
  pointer-events: all;
  animation-delay: 1s;

}

.btn {
  position: relative;
  top: 65%;
  z-index: 1;
  border-radius: 10px;
  background-color: greenyellow;
  height: 7px;
  width: 14px;
  margin-right: 0%;
  margin-left: 0%;
  display: inline-block;
  opacity: 0%;
  transition: height 0.5s, width 0.5s, rotate 0.5s ease-in, opacity 0.3s, margin-left 0.5s 0.5s, margin-right 0.5s 0.5s;
background-image: url(mod1img22.png);
background-size: contain;
background-position: center;
padding: 0px;
box-shadow: 0px 0px 15px 15px #fffb0021, 0px 0px 3px 3px #ffc4229c;
  }


  
#mod1:hover {
  transition-delay: 0.2s;
}

#mod1 {
  transition: opacity 1s, height 0.5s ease-out, width 0.7s ease-in-out, background-size 2.5s;
  outline: 3px solid rgb(0, 0, 0);
  pointer-events: none;
  
}

.mod1img:hover > .btn  { 
  opacity: 100%;
  transition: top 0.5s ease-in; 
  
  margin-left: 5%; 
  margin-right: 5%;
  height: 70px;
  width: 140px;
  transition-delay: 0.2s;
  background-size: 100%;
  background-position: center;
  }

  .mod1img:hover > .btn {
    transition: rotate 0.8s cubic-bezier(0,1.95,.11,1) 0.3s, opacity 1s ease-in 0.4s, margin-left 0.5s 0.5s, margin-right 0.5s 0.5s;
    rotate: 360deg;
    
  }

  .mod1img:hover > .btnbg {

opacity: 10%;
transition: opacity 0.7s 0.5s;
}
  .btnbg {

    position:absolute;
    margin:auto;
    width: 100%;
    height: 40%;
    background-color: rgb(187, 190, 0);
    bottom: 8%;
    opacity: 0%;
 


  }

  

.mod1img:hover > #btnmod1 {
        position: relative;
        height: 135px;
        width: 135px;
        border-radius: 25px;

          }

#btnmod1 {

  border-radius: 25px;
  top: 58.5%; 
  background-color: rgb(255, 0, 0);
  background-image: url(main_page_button.png);
}
          

#nohover {

  pointer-events: none;

}

.mod1 {

background-size: 2000%;
background-position: top 0% left 0%;
width: 300px;
outline: 6px solid black;
height: 200px;
transition: opacity 1s, height 0.5s ease-out, width 0.7s ease-in-out, background-size 0.7s;
background-color: transparent;
bottom: 6px;
position: relative;
transition-delay: 0.2s;

}


.gridlevels {
width: 100%;
  display: inline-grid;
grid-column-start: 1;
grid-column-end: 5;
grid-row-start: 2;
grid-row-end: span 1;


}

.ingridlevels {
background-color: rgb(255, 174, 0);
border: 3px solid black;
outline-width: 5px;
outline-color: #99f;
width: 400px;
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
height: 120px;

}

.first {
    width: 100%;
    height: 100px;
    background: #ccc;
}

.second {
    width: 100%;
    height: 100px;
    background: #999;
}



#section1 {

  width: 450px;
    height: 55px;
    background-color: rgba(230, 107, 255, 0.144);
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: unset;
    margin: auto;
    text-align: center;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   outline: groove rgba(208, 255, 0, 0.267) 3px;
   transition-duration: 0.3s;

  }
  
  #section2:hover {


    background-color: rgb(0, 41, 10);
    transform-style: flat;
    transition-duration: 0s;
    transition-timing-function: ease-in-out;
  }

  #section1:hover {


    background-color: rgb(0, 21, 41);
    transform-style: flat;
    transition-duration: 0s;
    transition-timing-function: ease-in-out;
    
      }

  #section2 {

    outline: groove rgba(166, 255, 0, 0.623) 3px;
    width: 500px;
    height: 55px;
    background-color: rgba(0, 255, 0, 0.205);
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
   margin: auto;
   text-align: center;
   margin-top: 20px;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   transition-duration: 0.3s;
  }


#html {
    scroll-behavior: smooth;
}



#container {
    width: 145px;
    height: 100px;
    border: 1px solid #ccc;
    overflow-x: scroll;
  }

  #content {
    width: 250px;
    background-color: #ccc;
  }



/* SECOND PART */
/* SECOND PART */
/* SECOND PART */
/* SECOND PART */
/* SECOND PART */
/* SECOND PART */
/* SECOND PART */











  
  .button1a {

    margin: 50px;
        display: flex;
        outline-color: rgba(255, 238, 0, 0.349);
        outline-width: 20px;
        outline-style: solid;
        border-radius: 15px;
        border-color: #ffee00;
        border-width: 15px;
    background-color: rgb(57, 159, 255);
    font-size: 25px;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    justify-items: center;
    
      }
    
    .textinside {
    
    color:red;
    font-style: italic;
    
    }
    
    .gridtest {
    
      position: relative;
    display: inline-block;
    max-width: 10000px;
    max-height: 1000px;
    background-color: #ff507669;
    flex: 1;
    }
    
    .ingrid {
    
    background-color: red;
    max-width: 100%;
    height: 30%;
    margin-top: 15px;
    
    
    }
    
    .buttoningrid {
    
    display: block;
    margin: auto;
    margin-top: 10px;
    height: 40px;
    width: 70%;
    background-color: rgb(64, 155, 230);
    outline: 3px white solid;
    border: none;
    border-radius: 10px;
    
    
    }
    
    .ingridimg {
    
    position: relative;
    width: 100%;
    
    
    }
    
    .deepingrid {
    
    position: relative;
    display: inline-block;
    margin: 15px;
    background-color: greenyellow;
    width: 15%;
    height: 80%;
    outline-width: 5px;
    outline-color: #ff5c5c;
    outline-style: double;
    box-shadow: 10px 10px 7px 5px #000000;
    overflow: hidden;
    }
    
    .inputbox {
    
      color: blue;
      font-size: 44px;
      width: 160px;
      display: block;
    
    
    
    }
    
      .button2a {
        display: block;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 50px;
        padding: 0px 0px 0px 0px;
        outline-color: rgb(0, 0, 0);
        outline-width: 2px;
        outline-style: solid;
        border-width: 8px;
        border-color: white;
        border-radius: 25px;
        background-image: linear-gradient( to top,  rgba(0, 26, 255, 0), 33%, rgba(255, 0, 234, 0.575)), linear-gradient( to right,  rgb(255, 196, 0), 50%, rgb(255, 0, 0));
        font-size: 25px;
        color: rgb(255, 255, 255);
        text-align: center;
        transition-duration: 0.7s;
        transition-property: all;
       pointer-events: all;
       box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
       width: 80%;
       height: 60%;
    
      }
          
    
          .btnc:focus-within {
    
          margin: 200px;
          outline-color: rgb(102, 255, 242);
          height: 450px;
          width: 300px;
          outline-width: 15px;
          
         
              }
    
              #btnmodh {
    
                width: 50px;
                height: 50px;
              }
              
    
              .btninside {
    opacity: 0%;
    width: 80%;
       height: 0%;
       padding: 0px;
       border: 0px;
    pointer-events: none;
    position: relative;
    border-radius: 3px;
    transition: all 1s ease-in-out, opacity 0.5s 0s;
    
              }
    #btnmodh:hover {
               
                width: 80%;
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
    animation: whitetonormal 1s forwards;
    background-image: none;
                
                          }
    
    @keyframes whitetonormal {
    
    
    0% {
    background-color: initial;
    
    }
    
    25% {
    background-color: white;
    }
    100% {
    background-color: rgba(183, 0, 255, 0.336);
    
    }
    
    }
    
    
              .btnc:focus-within > .button2a {
            
               height: 20%;
               transition-property: all ease-in;
                    }
    
                    .btnc:focus-within > .btninside {
             margin-top: 7%;
                      margin-bottom: 3%;
                      outline-color: rgb(204, 65, 65);
                      outline-width: 3px;
    
                     pointer-events: all;
                     opacity: 100%;
                     position: relative;
                     height: 15%;
                     width: 65%;
                     margin-right: auto;
                     margin-left: auto;
                     border-radius: 3px;
                     transition: all 1.3s ease-in-out, width 0.5s opacity 1s 0.1s, margin 0.9s 0.3s, height 0.1s;
                          }
     
    .btnc {
    
      border-radius: 5px;
    background-color: rgb(52, 157, 255);
    margin: 50px;
    outline: 5px solid rgb(255, 207, 48);
    height: 90px;
    width: 200px;
    transition-duration: 1s;
    overflow: auto;
    overflow-y: hidden;
    
    
              }
    
      .article {
        margin: 50px;
        display: grid;
        grid-template-rows: 150px 150px 150px;
        grid-template-columns: 150px 150px 150px;
        grid-gap: 15px;
        justify-items: center;
        align-items: center;
        position: relative;
      }
    
      section {
    height: 100%;
    width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(170, 19, 19);
        font-size: 3em;
        position: relative;
    
    
    
      }
    

    
      .text1 {
    
    color: #ff5c5c;
    font-size: 25px;
    margin-left: 300px;
    
      }
    
      .text1:hover {
    
        cursor: pointer;
    color: rgb(0, 255, 221);
    
    
    
      }
      .text1:active {
    
    color: black;
    
    
      }
    
        a:hover {
    
          color: yellow;
    
        }
    
        
        a:active {
    
          color: rgb(255, 0, 179);
    
        }
    
        .textbox {
    
    background-color: white;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    display: block;
    margin: 15px;
    
    
        }
    
    .grid {
    
    display: grid;
    grid-template-columns: 100px 250px 50px;
    column-gap: 10px;
    row-gap: 60px;
    justify-content: right;
    align-items: end;
    
    background-color: green;
    z-index: 5;
    height: 200px;
    width: 1fr;
    overflow: hidden;
    
    
    }
    
    .grid2 {
    
    background-color: rgb(0, 174, 255);
    outline: 3px yellow solid;
    overflow: hidden;
    height: 50px;
    
    
    
    }
    
    .flextest {
    
      max-width: 900px;
      display: flex;
      background-color: rgb(36, 36, 36);
      outline: 10px #c64aff groove;
      flex-wrap: wrap;
      margin: 50px;
      min-width: 300px;
      justify-content: center;
      flex-shrink: 0;
    }
    
    .inflex {
    
    height: 100px;
    width: 175px;
    background-color: red;
    outline: rgb(255, 230, 0) 3px solid;
    display: inline-block;
    margin: 25px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 100px;
    
    }
    
    
    .divtop {
    
      background-color: rgba(255, 185, 56, 0.226);
      outline: 3px rgb(255, 191, 52) solid;
      height: 230px;
      width: 200%;
      position: fixed;
      left: 86%;
      margin: 5px;
      top: -175px;
      z-index: 1;
      border: 5px rgba(0, 0, 0, 0.205) solid;
      transition: 1s ease-out 0s;
      transition-timing-function: ease-in-out;
      border-radius: 25px;
      overflow: hidden;
      }
      
      .press1 {
      
          background-color: rgb(43, 255, 0);
          position: relative;
          bottom: -140px;
          left: 200px;
      display: inline-block;
      height: 40px;
      width: 120px;
      border-radius: 12px;
      outline-offset: 315px;
      margin: 50px;
      }
      
      .press2 {
      
      background-color: greenyellow;
      top: 200px;
      margin: 15px;
      width: 140px;
      height: 60px;
      border-radius: 20px;
      display: block;
      margin: 50px;
      margin-top: 150px;
      
      
      }
      
      .div1 {
      
      height: 1000px;
      width: 800px;
      margin: 40px;
      background-color: rgb(161, 55, 161);
      position: relative;
      outline: 15px rgba(255, 0, 76, 0.548) dashed;
      border: 10px rgba(255, 0, 119, 0.432) groove;
      box-shadow: 0px 0px 35px rgb(255, 37, 190);
      display: inline-block;
      }
      
      
      
      
    /*  .divtop:before {
          content: "";
          background-color: rgb(255, 56, 56);
          outline: 17px rgb(139, 0, 0) solid;
          height: 200px;
          width: 9000px;
          position: fixed;
          left: -45px;
          margin: 5px;
          top: -170px;
          z-index: 1;
          border: 25px rgba(128, 0, 0, 0.384) dotted;
          border-bottom-left-radius: 500px;
      outline-offset: 7px;
      }
      
      .divtop:after {
          content: "";
          background-color: none;
      outline: 7px rgb(255, 143, 52) solid;
      height: 200px;
      width: 9000px;
      position: fixed;
      left: -45px;
      margin: 5px;
      top: -170px;
      z-index: 1;
      border: 25px rgba(0, 224, 168, 0) dotted;
      border-bottom-left-radius: 500px;
      outline-offset: 20px;
      
      }
      */

      .toptext {
      
          font-size: 70px;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          display: block;
          text-align: center;
          margin: 20px;
          margin-bottom: 30px;
      
      
      }
      
      .div2 {
      
      display: inline-block;
      height: 800px;
      width: 400px;
      background-color: rgb(100, 100, 255);
      margin: 60px;
      outline: 10px rgb(255, 255, 255) solid;
      position: relative;
      overflow: hidden;
      align-items: center;
      
      
      }
      
      .divindiv {
      
      height: 10%;
      width: 15%;
      background-color: red;
      display: inline-block;
      margin: 1%;
      outline: 5px black inset;
      
      
      
      }
    
    .longbutton {
    
      background-color: blue;
      height: 100px;
      width: 700px;
      position: relative;
      z-index: 5;
      left: 150px;
      transition-duration: 2s;
    }
    
    
    
    .longbutton:hover .longbtn_p1 {
    
      left: 600px;
    
    }
    
    .longbutton:hover .longbtn_p2 {
    
      opacity: 100%;
    
    }
    
    .longbutton:hover .longbtn_p3 {
    
      opacity: 100%;
    
    }
    
    .longbutton:hover .longbtn_p4 {
    
      opacity: 100%;
    
    }
    
    .longbutton:hover .longbtn_p6 {
    
    
      opacity: 100%;
    
    
      }
    
    .longbtn_p1 {
    
      position: absolute;
      transition: cubic-bezier(0,0,.23,1) 1s;
      height: 115px;
      left: 0px;
      opacity: 100%;
      z-index: 10;
      bottom: -10px;
    }
    
    .longbtn_p2 {
      position: absolute;
      transition: opacity 0s;
      height: 76.1px;
      left: 75px;
      opacity: 0%;
      top: 9.3px;
      }
    
      .longbtn_p3 {
        position: absolute;
        transition: opacity 0s 0.064s;
        height: 120px;
        top: -9.7px;
        left: 144px;
        opacity: 0%;
    
        }
    
        .longbtn_p4 {
          position: absolute;
          transition: opacity 0s 0.145s;
          height: 101px;
          left: 293px;
          top: -2.7px; 
          opacity: 0%;
    
          }
    
          .longbtn_p5 {
            position: absolute;
            height: 89.5px;
            left: 403px;
            top: 3.7px;
            opacity: 100%;
    
            }
    
            .longbtn_p6 {
              position: absolute;
              transition-duration: 2s;
              height: 105px;
              transition: opacity 0s;
              left: 6px;
              opacity: 100%;
              bottom: 0px;
              }
    
.zindexfix {

z-index: 5;
position: fixed;
height: 100px;
width: 100%;
top: 20px;
overflow: hidden;

}

.odd_on {

  opacity: 0%;
  transition: opacity 0.7s 0s;
  }

  .odd_on2 {

left: 20%;
      
    }

    @keyframes introrotate {

      
      100% {rotate: 360deg;}
      40% {scale: 60%;}
      
      }
      
      @keyframes introrotate2 {

     
        100% {rotate: -360deg;}
        40% {scale: 60%;}
        }

@keyframes introbtnanim {

      100% {background-image: url(button1websiteremakealt.png);
      
      }
      }
        
@keyframes btn_flip {

      0% {background-image: url(button1websiteremakealt.png);}
      85% {background-image: url(button1websiteremake.png);}
      
      }



.introbtn {

height: 45px;
width: 105px;
background-image: url(button1websiteremake.png);
background-size: cover;
position: relative;
top: 173px;
background-color: rgba(245, 179, 179, 0);
border: none;
right: -4px;
animation: introbtnanim 1s steps(1, end) forwards, introrotate 0.5s 0.7s ease-in-out;
shape-outside: url(button1websiteremake.png);
filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
}    

.btnflip      {
 

animation: btn_flip 1s steps(1, end) forwards, introrotate2 0.5s 0.7s ease-in-out;
background-image: url(button1websiteremake.png);


}

.p1alt {

  margin-left: 3%;
  margin-right: 3%;
  transition-duration: 1s;
  }

.uppersections {
background-color: #ff7b002c;
height: 150px;
width: 543px;
margin: auto;
padding-top: 20px;
border-radius: 15px;
box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.39) inset;

}



@media screen and (max-width: 700px) {

  .ingridlevels {
    width: 200px;
    }
  .divupper {
  display: block;
  margin: auto;

  }

  .mod1:hover {
    width: 400px;
    height: 650px;
    }
    .mod1img:hover {
      width: 400px;
      height: 650px;
    }

    .mod1img:hover + .featuredmod1  {
      top: -200px;
    }

    .btn  {
      display: block;
    }
    #btnmod1  {
      display: block;
    }

}




